{% extends './base.html' %}

<!--CSS stylesheets-->
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">
<style type="text/css">
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
</style>
{% endblock %}

<!-- JavaScript -->
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#employee').DataTable({
                "pageLength": 5
            });
        } );
</script>
{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="wrapper fadeInDown" style="margin-top: 40px;">
    <div id="formContent">
        <!-- Login Form -->
        <div class="row">
            <form action="{% url 'employee:employee_login' %}" method="post">
                {% csrf_token %}
                <div class="col-md-4">
                <center><h3>Employee Login</h3></center>
                    <div class=".col-md-6 .offset-md-3">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="col-md-4">
                    <center>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
